*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/stockBackground.png);
    /* height: 50%; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header{
    background-color: #C6879A;
}

.ButtonInHome{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #F3ECEC;
    border: 2px solid #C6879A;
}

.ButtonInHome:hover{
    border: 2px solid black;
}

.card{
    
    margin-top: 100px;
    background-color: #D9D9D9;
    border:4px solid #C6879A;
}

.options{
    border-bottom:4px solid #C6879A; 
}


.edit{
    font-weight: bold;
    color: #F3ECEC   ;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #D9D9D9;
    padding: 5px 5px;
    background-color: #C6879A;
}
.edit:hover{
    border: 2px solid black;
    /* Bootstap change tha background color to blue */
    background-color: #C6879A;
    color: #F3ECEC   ;
}



/* the form of all image should be the same */
.image{
    min-height: 150px;
}

/* .allCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
} */

